/* Pagination */
.page-numbers.current > span {
    color: #007bff;
}

.page-numbers > span {
    color: #333;
}

.prev ,
.next {
    color: #333 !important;
}

.post-navigation > a {
    color: #333;
}